RubyCoverage/nbproject/**
RubyCtverce/nbproject/**
RubyCviceniExamples/nbproject/**
RubyDecode/nbproject/**

/RubyPrivatizace/nbproject/private/
/RubyDFS/nbproject/private/
/RubyPentomino/nbproject/private/